.wrapper {
  background: #F3F5F0;
  width: 1920px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 220px;
  border-bottom: 1px solid rgba(49, 59, 67, 0.2);
}

.bottom-line {
  border-bottom: 1px solid #eee color:red;
}

a{
  text-decoration: none;
  color: #000;
  height: fit-content;
}

.menu {
  align-self: center;
  font-family: Poppins;
  font-style: normal;
  font:font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.footer-link:hover{
  text-shadow: 0 0 11px rgba(191, 191, 191, 1);
}

.footer-link:active{
  text-shadow: 0 0 11px rgba(82, 82, 82, 1);
}

.menu-link:hover{
  text-shadow: 0 0 11px rgba(33,33,33,.2);
}

.menu-link:active{
  text-shadow: 0 0 11px rgba(82, 82, 82, 1);
}

.menu-link {
  color: #000;
  margin: 0 20px;
}

.menu-link:first-child {
  margin-left: 0;
}

.menu-link:last-child {
  margin-right: 0;
  color: #12614F;
}

.main-title {
  font-size: 32px;
}

.strong {
  font-weight: 600;
}

@media (max-width: 600px) {
  .header {
    margin: 0 10px;
  }
}

.main{
  display: flex;
  padding: 166px 220px 0 220px;
  margin-bottom: 120px;
  top: 260px;
}

.main-title{
  font-family: Poppins;
  font-style: normal;
  font-weight:150;
  font-size: 35px;
  line-height: 66px;
  color: #313B43;
}

.left-column{
  display: flex;
  flex-direction:column;
  width: 50%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;

}

.secondary{
  width: 421px;
  height: 24px;
  left: 220px;
  top: 428px;
  margin-top: 36px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.contact{
  margin-top: 66px;
}

.form-group{
  display: flex;
  overflow: hidden;
  font-family: Poppins;
  font-style: normal;
  margin-left: 218px;
}

input{
  max-height:39px;
  background: #F3F5F0;
  border: none;
  border-bottom: 1px solid rgba(49, 59, 67, 0.2);
}

.name{
  margin-right: 12px;
  width: 50%
}

.footer{
  border-top: 1px solid rgba(49, 59, 67, 0.2);
  height: 100px;
}

.form-group__title{
  width: 50%
  margin-bottom: 16px;
}

.name-group{
  display: flex;

}

.first-form{
  display: flex;
}

#name{
  padding-right: 110px;
}

#message{
  display: flex;
  flex-direction: column;
  padding-top: 46px;
}

.send{
  display:flex;
  padding-top: 77px;
}

.btn{
  outline-style: none;
  transition: all 0.5sec ease;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:360px;
  padding: 0 220px;
}

.code{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: rgba(49, 59, 67, 0.2);
}

.user{

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #1C2126;
  display: flex;
  padding-top: 15px;
}

.terms{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  margin: 0 190px 0 50px;
}

.society{
  margin-top: 20px;
}

.link{
  margin: 0 9px;
}

.face{
  padding-right: 9px;
}

.inst{
  padding-left:9px;
}

button{
  background: #F3F5F0;
  border: none;
}

.btn:hover{
opacity: 0.8;
}

.btn:active{
opacity: 0.9;
}

button, button:active, button:focus {
    outline: none;
}
.submit{
  padding-right: 35px;
}

input , input:focus {
    outline: none;
}
